body {
    background-color: #fbfbfb;
  }
main {
    padding-top: 60px;
  }
   @media (min-width: 991.8px) {
   main {
    padding-left: 240px;
}}

.main-content {
    padding-top: 12px;
}

i {
    margin: 4px;
}
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }


  .sidebar .active {
    border: none;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
    font-weight: 500;
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

/* style CRUD */

  .btn-create {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: none;
}
 .btn-create:hover {
    background-color: #099c4e;
    color: #fff;
}

/* Read page*/
.read table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}
.read table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
.read table tbody tr td {
    padding: 8px;
    color: #808080;
    overflow: hidden;
    max-width: 160px;
}
.read .read-description {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.4em;
}
.read table tbody tr {
    border-bottom: 1px solid #d3dae0;
}
.read table tbody tr:hover {
    background-color: #ddd;
}
.read img {
    max-height: 80px;
    object-fit: cover;
}
.edit-action, .delete-action, .show-action {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px;
}
.actions {
    padding: 8px;

}
 .delete-action {
    border: none;
    background-color: #ec3838;
}
 .delete-action:hover{
    background-color: #e70a0a;
    color: #fff;
}
.edit-action {
    border: none;
    background-color: #91f053;
}
.edit-action:hover {
    background-color: #43a006;
    color: #fff;

}
.show-action {
    border: none;
    background-color: #57d1da;
}
.show-action:hover {
    background-color: #097981;
    color: #fff;

}

/* create page*/
.create-textarea {
    height: 240px;
}

/* Message error */
.error {
    color: #e70a0a;
}
/* breadcrumb */
.breadcrumb .active {
    color: #097981;
}